extends ../layouts/main-layout.pug
block styles
  link(rel="stylesheet", href="/css/login.css")
block content
  main 
    include ../includes/error-message.pug
    form.login-form(action="/login", method="POST")
      include ../includes/token-input.pug
      .form-control
        label(for="email") 登入信箱
        input(
          type="email"
          name="email"
          id="email"
          value=value.email
          class=errorParam == "email" ? 'invalid': ''
        )
      .form-control
        label(for="password") 密碼
        input(
          type="password" 
          name="password" 
          id="password" 
          value=value.password
          class=errorParam == "password" ? 'invalid': ''
        )
      .action
        button.btn(type="submit") 登入
        a.btn(href="/reset") 忘記密碼