extends ../layouts/main-layout.pug
block styles
  //- link(rel="stylesheet", href="/css/login.css")
block content
  main 
    .container
      .row 
        .col-md-8.mx-auto
          include ../includes/error-message.pug
          form(action="/login", method="POST")
            include ../includes/token-input.pug
            .form-group
              label(for="email") 登入信箱
              input.form-control(
                type="email"
                name="email"
                id="email"
                required
                value=value.email
                class=errorParam == "email" ? 'is-invalid': ''
              )
            .form-group
              label(for="password") 密碼
              input.form-control(
                type="password" 
                name="password" 
                id="password" 
                required
                value=value.password
                class=errorParam == "password" ? 'is-invalid': ''
              )
            .d-flex.justify-content-end
              button.btn.btn-primary(type="submit") 登入
              a.ml-3.btn.btn-outline-danger(href="/reset") 忘記密碼