extends ../layouts/main-layout.pug
block styles
  //- link(rel="stylesheet", href="/css/login.css")
block content
  .container
    .row
      .col-md-8.mx-auto
        include ../includes/error-message.pug
        form(action="/new-password",method="POST")
          include ../includes/token-input.pug
          .form-group
            label(for="password") 新密碼
            input.form-control(
              type="password"
              name="password"
              id="password"
              required
            )
          input(type="hidden", name="userId" value=userId)
          input(type="hidden", name="resetToken" value=resetToken)
          .action
            button.btn.btn-primary(type="submit") 重置密碼
