extends ../layouts/main-layout.pug
include ../includes/admin-sidebar.pug
block content 
  main 
    if prods.length
      .d-flex.flex-wrap           
        each prod in prods  
          div.card.m-2(style="width: 15em")
            img.card-img-top.img-cover( src='/images/' +JSON.parse(prod.url)[0]) 
            .card-body 
              h5.card-title.trimText #{prod.title}
              div.card-text
                span.d-block 換幣：#{prod.price}
                span.d-block.trimText 作者：#{prod.author} 
                span.d-block 類別：#{prod.category}
                p.mt-1.text-secondary.trimText(style="-webkit-box-orient: vertical") #{prod.description} 
              .d-flex.justify-content-end
                a.btn.btn-primary(href=`/admin/edit-product/${prod.id}`) 編輯
                form(action="/admin/delete-product", method="POST")
                  include ../includes/token-input.pug
                  input(type="hidden" value=prod.id name="productId")
                  button.ml-3.btn.btn-outline-danger(type="submit") 刪除
    else
      h5 尚無書籍