extends ../layouts/main-layout.pug
include ../includes/admin-sidebar.pug

block content
  .container
    .row
      .col-md-8.mx-auto
        include ../includes/error-message.pug
        form.user-form(action="/admin/user", method="post")
          include ../includes/token-input.pug
          .form-group
            label(for="username") 信箱
            input.form-control(
              value=user.email
              readonly
            )
          .form-group
            label(for="username") 使用者名稱
            input.form-control(
              type="text"
              name="username"
              id="username"
              value=user.username
              class=errorParam == "username" ? 'invalid': ''
            )
          .form-group
            label(for="city") 城市 
            input.form-control(
              type="text"
              name="city"
              id="city"
              value=user.city
              class=errorParam == "city" ? 'invalid': ''
            )
          label.d-block(for="delivery") 寄送方式 
          .form-check.form-check-inline.mb-2
            - var delivery = JSON.parse(user.delivery) || []
            label.form-check-label(for="meet") 面交
            input.form-check-input(id="meet" type="checkbox" name="delivery" value="meet" checked=delivery.includes('meet')) 
            label.form-check-label(for="post") 郵寄
            input.form-check-input(id="post" type="checkbox" name="delivery" value="post" checked=delivery.includes('post'))
            label.form-check-label(for="cargo") 貨運
            input.form-check-input(id="cargo" type="checkbox" name="delivery" value="cargo" checked=delivery.includes('cargo'))
            label.form-check-label(for="convenient") 超商 
            input.form-check-input(id="convenient" type="checkbox" name="delivery" value="convenient" checked=delivery.includes('convenient'))
          .form-group
            label(for="description") 簡介
            textarea.form-control(
              name="description"
              id="description"
              class=errorParam == "description" ? 'invalid': ''
            ) #{user.description}
          button.btn.btn-primary(type="submit") 送出
        script(src="/js/add-product.js")