section.mt-5
  .container
    h3 留言：
    hr
    ul.list-unstyled
      each message in messages 
        li.media
          img.mr-3(
            height="64"
            width="64"
            src=message.userImg || '/system/default-user.jpg')
          .media-body
            if(message.user)
              a.mt-0.mb-1(href="/user/" + message.user.id) #{message.user.email}
            else 
              p 訪客
            p #{message.content}
            p.text-right.text-muted #{message.createdAt}
      form(action="/shop/"+ prod.id method="POST")
        include ./token-input.pug
        .form-group
          textarea.form-control(
            name="content"
            required
            placeholder="寫些什麼..."
          )
        button.btn.btn-primary(type="submit") 送出