ul.side-bar
  - var isShop = dest.startsWith('shop')
  - var isAdmin = dest.startsWith('admin')
  if isAdmin
    - var subPath = dest.split('/')[1]
    li.side-bar__item
      a(href="/admin/add-product" class=subPath==="add-product"?'active': '') 新增書籍
    li.side-bar__item
      a(href="/admin/products" class=subPath==="products"?'active': '') 我的書籍
    li.side-bar__item
      a(href="/shop/favorites" class=subPath==="favorites"?'active': '') 我的收藏
    li.side-bar__item
      a(href="/admin/user" class=subPath==="user"?'active': '') 用戶管理
  if isShop
    each category in ["文學","藝術","商業","語言","電腦","旅遊","生活風格","醫學保健","漫畫小說","政府考用","少兒親子"]
      li.side-bar__item
        a(href="/shop/?category="+category class=query===category?'active':'') #{category}