extends ../layouts/main-layout.pug
include ../includes/transaction-sidebar.pug
block content
  table.table.table-hover.text-center
    thead.thead-light
      tr
        th 圖片
        th 商品
        th 對象
        th 換幣
        th 狀態
    each tran in trans
      - var prod = tran.product
      - var trader = tran.buyer || tran.seller
      tr.hover(onclick=`location.href = '/transaction/${tran.id}'`)
        td
          img.img-cover-sm(src=JSON.parse(prod.url)[0], alt=prod.title) 
        td
          p #{prod.title} 
          p.text-muted #{prod.author}
        td 
          p #{trader.email}
        td
          p #{tran.price}
        td
          p.text-danger #{['待同意','已同意','已完成','買家取消','賣家取消'][tran.state]}

