extends ../layouts/main-layout.pug
include ../includes/transaction-sidebar.pug
//- block styles
//-   link(rel="stylesheet", href="/css/order.css")
block content
  .container
    .row
      .col-md-8.mx-auto
        h5 兌換資訊
        h6.state 訂單狀態： #{['待同意','已同意','已完成','買家取消','賣家取消'][tran.state]}
        hr
        include ../includes/error-message.pug
        - var prod = tran.product
        - var buyer = tran.buyer 
        - var seller = tran.seller
        .form-group
          label 書名
          input.form-control(
            type="text"  
            value=prod.title
            readonly
          )
        .form-group
          label 換幣
          input.form-control(
            type="text"  
            value=tran.price
            readonly
          )
        .form-group
          label 賣家
          input.form-control(
            type="text"
            value=seller.email
            readonly
          )
        .form-group
          label 買家
          input.form-control(
            type="text"
            value=buyer.email
            readonly
          )
        .form-group
          label 交易方式
          select.form-control(value=tran.delivery readonly)
            option(value="post") 郵寄
            option(value="conveninet") 超商
            option(value="meet") 面交
            option(value="cargo") 貨運
        .form-group
          label 目的地
          input.form-control(
            type="text"
            value=tran.place
            readonly
          )
        .form-group
          label 接受時間
          input.form-control(
            type="text"
            value=tran.time
            readonly
          )
        .form-group
          label 備註
          textarea.form-control(
            readonly
          ) #{tran.mark}
        .d-flex.justify-content-end
          if(tran.state == '1') 
            form(action="/transaction/finish/"+ tran.id  method="POST" )
              button.btn.btn-primary 完成
              include ../includes/token-input.pug
          if(tran.state == '0' || tran.state == '1')
            form(action="/transaction/cancel/" + tran.id, method="POST")
              button.btn.btn-outline-danger 取消
              include ../includes/token-input.pug