extends ../layouts/main-layout.pug
include ../includes/shop-sidebar.pug 
block content 
  main 
    if prods.length
      .d-flex.flex-wrap           
        each prod in prods  
          div.card.m-2(style="width: 15rem;")
            img.card-img-top.img-cover(src='/images/' + JSON.parse(prod.url)[0]) 
            .card-body 
              h5.card-title.trimText(title=prod.title) #{prod.title}
              p.card-text.text-secondary.trimText #{prod.description}
              .d-flex.justify-content-end
                a.btn.btn-primary(href=`/shop/${prod.id}`) 詳情
                form(action="/shop/delete-favorite" method="POST")
                    include ../includes/token-input.pug
                    input(type="hidden"  name="productId" value=prod.id)
                    button.ml-3.btn.btn-outline-danger(type="submit") 取消收藏
    else
      h5 尚無最愛