extends ../layouts/main-layout.pug
block content 
  main 
    if prods.length
      .grid      
        each prod in prods  
          a(href=`/shop/${prod.id}`)
            article.card.product-item
              header.card__header
                h1.product__title #{prod.title}
                .card__image 
                  img(src=prod.url, width="200px", height="150px") 
                .card__content 
                  h2.card__price #{prod.price} 
                form(action="/shop/delete-favorite" method="POST")
                  include ../includes/token-input.pug
                  input(type="hidden"  name="productId" value=prod.id)
                  button(type="submit") 取消收藏
    else
      h1 尚無最愛