extends ../layouts/main-layout.pug
block styles
  link(rel="stylesheet", href="/css/shop.css")
block content 
  main 
    if prods.length
      .grid      
        each prod in prods  
          article.card.product
            .card__image 
              img(src=JSON.parse(prod.url)[0]) 
              //- img(src=prod.url) 
            .card__content 
              h1.product__title(title=prod.title) #{prod.title}
              .card__actions
                a.btn(href=`/shop/${prod.id}`) 詳情
                include ../includes/add-favorite.pug
    else 
      h1 尚無書籍