extends ../layouts/main-layout.pug
block styles 
  link(rel="stylesheet", href="/css/product.css")
block content 
  main.centered
    .image
      .image__thumb
      .image__main
        img(src=prod.url alt=prod.title)
    .info
      span.info__category #{prod.categroy}
      h1.info__title(title=prod.title) #{prod.title}
      hr
      p.info__price 換幣：#{prod.price}
      p.info__author 作者：#{prod.author}
      p.info__isbn ISBN：#{prod.isbn}
      p.info__description #{prod.description}
      include ../includes/add-favorite.pug